 * {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

#row1,
#row2,
#row3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  overflow: hidden;
}

.box img {
  width: 100%;
  height: 100%;
}

.box {
  width: 30%;
  height: 300px;
  position: relative;
}

.box::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.726);
  height: 100%;
  width: 0px;
  transition: all 1s;
  left: 0;
}

.logo {
  position: absolute;
  top: 0px;
  right: -200px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  opacity: 0;
  transition: all 1s; 
  
}

.logo i {
  color: white;
  transition: all 1s;
  font-size: 32px;
}

.logo i:hover {
  transform: rotate(360deg) scale(1.9);
  /* right: 1000px; */
}

.box:hover .logo {
  opacity: 1;
  right: 0;
}

.box:hover::before {
  width: 100%;
  height: 100%;
  left: 0;
} 

